---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";
// import SignupForm from "../components/SignupForm.astro";

const seo = {
  title: "La Vetta | Best local cuisine in Cavelossim Goa",
  description:
    "This restaurant serves soulful food with a delightful ambience. Momos, Shawarma we got it all.",
};
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">🍽️ <br /> La Vetta</h1>
      <hr />
      <p class="fade-in">
        Your go to spot for indian fast food and Chinese delights. Momos,
        Shawarma we got it all.
      </p>
      <p></p><hr /> Cavelossim Goa
      <a
        href="https://maps.app.goo.gl/kvcmjg4aFJrKXMn47"
        target="_blank"
        rel="noopener noreferrer">Location</a
      >

      <!-- <SignupForm /> -->
    </article>
  </Container>
</Layout>
